/*Light-Theme*/

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;  
color: black;
font-size: 15px;
font-weight: 300;
}

main{
max-width: 500vw;    
background-color: rgb(232, 232, 53);
min-height: calc(100vh - 150px);

}

.canvas{ 
height: 500px;	
display: flex;
flex-direction: column;
margin: auto;
margin-bottom: 30px;
max-width: 500px;
width: 100%;
justify-content: center;	      
text-align: center;
font-weight: 900;
background-color: white;
}
    

h1{
font-size: 40px;
font-weight: 700;
display: block;
font-family: 'Poppins', sans-serif;
color: black;
margin-bottom: 20px;
}

h2{
text-align: center;
font-family: 'Poppins', sans-serif;
font-weight: bolder;
font-size: 22px;
color: black;
}

h3{
font-family: 'Poppins', sans-serif;
color: black;

}

p{
font-size: 20px;
color: black;
font-family: 'Poppins', sans-serif;
}
 
.button-header {
cursor: pointer; 
color:black;
border: none;
border-radius: 10px;
padding: 0px 10px;
background-color: rgb(232, 232, 53);
font-weight: 400;
height: 36px;
}

.fa-solid {
color: black;
}

.button-header:hover{
background-color:rgb(188, 188, 42);
}

header{
background-color: rgb(124, 232, 53);
height: 150px;
min-width: 100%;
text-align: center;
padding: 15px;
}

.text-t{
text-align: center;
font-size: 25px;
padding: 15px;
}

.text-b{
text-align: center;
font-size: 25px;
padding: 15px;
}
    
#image-meme{
width: 100%;
flex-grow: 1;
background-size: cover;
background-position: center;
background-color: black;
height: 100px;
}

main button{
cursor: pointer; 
color:white;
border: none;
border-radius: 10px;
padding: 10px 10px;
background-color:rgb(89, 196, 232);
font-weight: 400;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
margin-bottom: 5px;
}

main button:hover{
background-color:rgb(3, 3, 181);
}


/*Paneles*/

.image{
flex-direction: column;
justify-content: flex-start;
float: right;
width: 260px;
height: 100vh;
background-color: rgb(232, 53, 232);
overflow: auto;
position: fixed;
padding: 30px 15px;
top: 0;
right: 0;   
}


.text{
flex-direction: column;
justify-content: flex-start;
float: right;
width: 260px;
height: 100vh;
background-color: rgb(232, 53, 232);
overflow: auto;
position: fixed;
padding: 30px 15px;
top: 0;
right: 0;       
}

/*Panel Imagen*/

.image-settings{
margin-top: 12px;
margin-bottom: 0;
font-weight: bolder;
padding: 10px, 10px;    
}

.text-url{
height: 30px;
width: 100%;
border-radius: 5px;
padding: 3px;
margin-bottom: 5px;
background-color: white;
border-color: white;
}

.background-container{
margin-top: 12px;
margin-bottom: 0;
font-weight: bolder;
width: 100%;
}

.background-inputs{
display: flex;
gap: 15px;
position: relative;
height: 35px;
width: 102%;
margin-left: 0px;    
}

.input-color-container {
width: 120px;
height: 32px;
border-radius: 8px;
background-color: white;
border: 1px solid white;    
}

.input-color {
appearance: none;
background: transparent;
height: 30px;
width: 28px;      
}

.input-color::-webkit-color-swatch {
border-radius: 50%;
border: none;
}

.label {
position: relative; 
display: inline-block; 
margin: 12px 6px;
vertical-align: top; 
}

.label { 
position: absolute;
left: 32px;
top: -8px;
color: black;
}

.blend-input{
height: 30px;
width: 100%;
border-radius: 5px;
padding: 3px;
margin-bottom: 5px;
background-color: white;
border-color: white;
}

.filters{
margin-top: 10px;
margin-top: 12px;
margin-bottom: 0;
font-weight: bolder;
}

input[type=range] {
-webkit-appearance: none; 
width: 100%; 
background: transparent;
}
  
input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {   
height: 20px;
width: 15px;
border-radius: 20px;
background: black;
margin-top: -9px;     
}
  
input[type=range]::-webkit-slider-runnable-track {
width: 100%;
height: 5px;
background: black;
border-radius: 5px;
}

.button-changes{
background-color: rgb(89, 196, 232);
font-size: 300;
border-radius: 5px;
margin-top: 20px;
border: 0px;
padding: 6px;    
}

.button-changes:hover{
background-color: rgb(71, 154, 182);
}



/*Panel Texto*/


.top{
margin-top: 12px;
margin-bottom: 0;
font-weight: bolder;
}

.hidden{
display: none;
}

.top textarea{
height: 30px;
width: 100%;
border-radius: 5px;
padding: 1px;
margin-bottom: 2px;
margin-top: 4px;
background-color: white;
border-color: white;
}

.bottom{
margin-top: 12px;
margin-bottom: 0;
font-weight: bolder;
}
   
.bottom textarea{
height: 30px;
width: 100%;
border-radius: 5px;
padding: 1px;
margin-bottom: 2px;
margin-top: 4px;
background-color: white;
border-color: white;
}

.typo{
margin-top: 12px;
margin-bottom: 0;
font-weight: bolder;
}

.fonts select{
height: 30px;
width: 100%;
border-radius: 5px;
padding: 1px;
margin-bottom: 2px;
margin-top: 4px;
background-color: white;
border-color:white;    
}

.font-size{
display: flex;
justify-items: center;
align-items: center;
margin-top: 5px;
}

.font-size input{
height: 30px;  
border-radius: 5px;
padding: 1px;
margin-bottom: 2px;
margin-top: 4px;
background-color: white;
border-color: white; 
padding: 5px;
gap: 15px;
position: relative;
width: 50%;
margin-left: 0px;    
}

.font-size div{ 
padding: 1px 1px 2px 5px;
gap: 15px;
position: relative;
height: 30px;
width: 50%;
margin-left: 0px;    
}

.font-size button{
width: 26%;
border-radius: 5px;
background-color:white;
border-color: white; 
margin: 2px;
}

.font-size button:hover{
background-color: grey;
}

.background-color{
display: flex;
width: 100%;
height: 60px;
margin-top: 20px;
}

.input-background-color {
display: flex;
justify-items: center;
align-items: center;    
margin-top: 5px;
width: 110px;
height: 32px;
margin-right: 20px;
border-radius: 5px;
background-color:white;
border: 1px solid white;    
}

.input-back-color{
display: flex;
justify-items: center;
align-items: center;      
margin-top: 5px;
width: 110px;
height: 32px;
border-radius: 5px;
background-color:white;
border: 1px solid white;    
}

.input-color {
appearance: none;
background: transparent;
border: none;
height: 30px;
width: 28px;      
}

.input-b-color{
appearance: none;
background: transparent;
border: none;
height: 30px;
width: 28px;    
}

.input-color::-webkit-color-swatch {
border-radius: 50%;
border: none;
}

.input-b-color::-webkit-color-swatch {
border-radius: 50%;
border: none;
}


.background-color span {
text-align: center;
color: black;   
}


.out-back{
margin-top: 5px;    
}

.padding{
margin-top: 12px;
margin-bottom: 0;
font-weight: bolder;
}

.padding input{
height: 30px;
width: 100%;
border-radius: 5px;
padding: 1px;
margin-bottom: 2px;
margin-top: 4px;
background-color: white;
border-color: white;
}

.outline{
margin-top: 12px;
margin-bottom: 45px;
font-weight: bolder;
padding: 1px 1px 1px 1px;
gap: 15px;
position: relative;
height: 30px;
width: 100%;
}

.outline h3{
margin-bottom: 5px;
}

.outline button{
width: 32%;
border-radius: 5px;
background-color: white;
border-color: white; 
padding: 2px 5px 2px 0px;
margin-bottom: 10px;
}

.outline button:hover{
background-color: grey;
}

.line-spacing{
margin-top: 12px;
margin-bottom: 0;
font-weight: bolder;
}

.line-spacing select{
height: 30px;
width: 100%;
border-radius: 5px;
padding: 1px;
margin-bottom: 2px;
margin-top: 4px;
background-color: white;
border-color: white;
}*/


/******************dark-theme*******************/

.dark-theme{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;  
color: white;
font-size: 15px;
font-weight: 300;
}

  
.dark-theme h1{
font-size: 40px;
font-weight: 700;
display: block;
font-family: 'Poppins', sans-serif;
color: white;
margin-bottom: 20px;
}
    
.dark-theme h2{
text-align: center;
font-family: 'Poppins', sans-serif;
font-weight: bolder;
font-size: 22px;
color: white;
}
    
.dark-theme h3{
font-family: 'Poppins', sans-serif;
color: white;    
}
    
.dark-theme p{
font-size: 20px;
font-family: 'Poppins', sans-serif;
}
     
.dark-theme .button-header{
cursor: pointer; 
color:white;
border: none;
border-radius: 10px;
padding: 0px 10px;
background-color: rgb(39, 41, 44);
font-weight: 400;
height: 36px;
}


    
.dark-theme .fa-solid {
color: white;
}
    
.dark-theme .fa-regular {
color: white;
}
    
.dark-theme .button-header:hover{
background-color: rgb(6, 7, 7);
}
    
.dark-theme header{
background-color: rgb(4, 4, 4);
height: 150px;
min-width: 100%;
text-align: center;
padding: 15px;
}


.dark-theme main{
background-color: rgb(49, 49, 55);
max-width: 500vw;
min-height: calc(100vh - 150px)
}


.dark-theme canvas{
height: 500px;	
display: flex;
flex-direction: column;
margin: auto;
margin-bottom: 30px;
max-width: 500px;
width: 100%;
justify-content: center;	      
text-align: center;
font-weight: 900;
background-color: white;
}

    
.dark-theme .text-t{
text-align: center;
font-size: 25px;
padding: 15px;
}
    
.dark-theme .text-b{
text-align: center;
font-size: 25px;
padding: 15px;
}
          
.dark-theme #image-meme{
flex-grow: 1;
background-size: cover;
background-position: center;
background-color: black;
height: 100px;
}

   
.dark-theme main button{
cursor: pointer; 
color:white;
border: none;
border-radius: 10px;
padding: 10px 10px;
background-color:blue;
font-weight: 400;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
}
    
.dark-theme main button:hover{
background-color:rgb(3, 3, 181);
}
    
    
/*Paneles*/
    
.dark-theme .image{
display: block;
flex-direction: column;
justify-content: flex-start;
float: right;
width: 260px;
height: 100%;
background-color: rgb(85, 85, 88);
overflow: auto;
position: fixed;
z-index: 10;
padding: 30px 15px;
top: 0;
right: 0;   
}
    
    
.dark-theme .text{
display: block;
flex-direction: column;
justify-content: flex-start;
float: right;
width: 260px;
height: 100%;
background-color: rgb(85, 85, 88);
overflow: auto;
position: fixed;
z-index: 10;
padding: 30px 15px;
top: 0;
right: 0;       
}    
 
/*Panel Imagen*/
    
.dark-theme .image-settings{
margin-top: 12px;
margin-bottom: 0;
font-weight: bolder;
padding: 10px, 10px;    
}
    
.dark-theme .text-url{
height: 30px;
width: 100%;
border-radius: 5px;
padding: 3px;
margin-bottom: 5px;
background-color: rgb(40, 40, 46);
border-color: rgb(40, 40, 46);
color: white;
}
    
.dark-theme .background-container{
margin-top: 12px;
margin-bottom: 0;
font-weight: bolder;
width: 100%;
}
    
.dark-theme .background-inputs{
display: flex;
gap: 15px;
position: relative;
height: 35px;
width: 102%;
margin-left: 0px;    
}
    
.dark-theme .input-color-container {
width: 120px;
height: 32px;
border-radius: 8px;
background-color: rgb(40, 40, 46);
border: 1px solid rgb(40, 40, 46);    
}
    
.dark-theme .input-color {
appearance: none;
background: transparent;
border: none;
height: 30px;
width: 28px;      
}
    
.dark-theme .input-color::-webkit-color-swatch {
border-radius: 50%;
border: none;
}
    
.dark-theme .label {
position: relative; 
display: inline-block; 
margin: 12px 6px;
vertical-align: top;
}
    
.dark-theme .label { 
position: absolute;
left: 32px;
top: -8px;
color: white;
}
    
.dark-theme .blend-input {
height: 30px;
width: 100%;
border-radius: 5px;
padding: 3px;
margin-bottom: 5px;
background-color: rgb(40, 40, 46);
border: 1px solid rgb(40, 40, 46);
color: white;
}
    
.dark-theme .filters{
margin-top: 10px;
margin-top: 12px;
margin-bottom: 0;
font-weight: bolder;
color: white;
}

.dark-theme .filters label{
    color: white;
}
    
.dark-theme input[type=range] {
-webkit-appearance: none; 
width: 100%; 
background: transparent;
}
      
.dark-theme input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
}
    
.dark-theme input[type=range]::-webkit-slider-thumb {   
height: 20px;
width: 15px;
border-radius: 20px;
background: white;
margin-top: -9px;     
}
      
.dark-theme input[type=range]::-webkit-slider-runnable-track {
width: 100%;
height: 5px;
background: rgb(214, 214, 215);
border-radius: 5px;
}
    
.dark-theme .button-changes{
background-color: rgb(39, 41, 44);
font-size: 300;
border-radius: 5px;
margin-top: 20px;
border: 0px;
padding: 6px;
color: white;    
}
    
.dark-theme .button-changes:hover{
background-color: rgb(6, 7, 7);
}
    
    
    
/*Panel Texto*/
    
    
.dark-theme .top{
margin-top: 12px;
margin-bottom: 0;
font-weight: bolder;
}
    
.dark-theme .top textarea{
height: 30px;
width: 100%;
border-radius: 5px;
padding: 1px;
margin-bottom: 2px;
margin-top: 4px;
background-color: rgb(40, 40, 46);
border: 1px solid rgb(40, 40, 46);
color: white;
}

.dark-theme .withouttext{
color: white;
} 
    
.dark-theme .bottom{
margin-top: 12px;
margin-bottom: 0;
font-weight: bolder;
}
       
.dark-theme .bottom textarea{
height: 30px;
width: 100%;
border-radius: 5px;
padding: 1px;
margin-bottom: 2px;
margin-top: 4px;
background-color: rgb(40, 40, 46);
border: 1px solid rgb(40, 40, 46);
color: white;
}

.dark-theme .withouttext2{
color: white;
} 
  
    
.dark-theme .typo{
margin-top: 12px;
margin-bottom: 0;
font-weight: bolder;
}
    
.dark-theme .fonts select{
height: 30px;
width: 100%;
border-radius: 5px;
padding: 1px;
margin-bottom: 2px;
margin-top: 4px;
background-color: rgb(40, 40, 46);
border: 1px solid rgb(40, 40, 46);
color: white;   
}
    
.dark-theme .font-size{
display: flex;
justify-items: center;
align-items: center;
margin-top: 5px;
}
    
.dark-theme .font-size input{
height: 30px;  
border-radius: 5px;
padding: 1px;
margin-bottom: 2px;
margin-top: 4px;
background-color: rgb(40, 40, 46);
border: 1px solid rgb(40, 40, 46);
padding: 5px;
gap: 15px;
position: relative;
width: 50%;
margin-left: 0px;
color: white;    
}
    
.dark-theme .font-size div{ 
padding: 1px 1px 2px 5px;
gap: 15px;
position: relative;
height: 30px;
width: 50%;
margin-left: 0px;    
}
    
.dark-theme .font-size button{
width: 26%;
border-radius: 5px;
background-color: rgb(40, 40, 46);
border: 1px solid rgb(40, 40, 46); 
margin: 2px;
color: white;
}
    
.dark-theme .font-size button:hover{
background-color: rgb(6, 7, 7);
}
    
.dark-theme .background-color{
display: flex;
width: 100%;
height: 60px;
margin-top: 20px;
}
    
.dark-theme .input-background-color {
display: flex;
justify-items: center;
align-items: center;    
margin-top: 5px;
width: 110px;
height: 32px;
margin-right: 20px;
border-radius: 5px;
background-color: rgb(40, 40, 46);
border: 1px solid rgb(40, 40, 46);     
}
    
.dark-theme .input-back-color{
display: flex;
justify-items: center;
align-items: center;      
margin-top: 5px;
width: 110px;
height: 32px;
border-radius: 5px;
background-color: rgb(40, 40, 46);
border: 1px solid rgb(40, 40, 46);    
}
    
.dark-theme .input-color {
appearance: none;
background: transparent;
border: none;
height: 30px;
width: 28px;      
}
    
.dark-theme .input-b-color{
appearance: none;
background: transparent;
border: none;
height: 30px;
width: 28px;    
}
    
.dark-theme .input-color::-webkit-color-swatch {
border-radius: 50%;
border: none;
}
    
.dark-theme .input-b-color::-webkit-color-swatch {
border-radius: 50%;
border: none;
}
    
    
.dark-theme .background-color span {
text-align: center;
color: white;   
}
    
    
.dark-theme .out-back{
margin-top: 5px;    
}
    
.dark-theme .padding{
margin-top: 12px;
margin-bottom: 0;
font-weight: bolder;
}
    
.dark-theme .padding input{
height: 30px;
width: 100%;
border-radius: 5px;
padding: 1px;
margin-bottom: 2px;
margin-top: 4px;
background-color: rgb(40, 40, 46);
border: 1px solid rgb(40, 40, 46);
}

.dark-theme .withoutback{
    color: white;
}
    
.dark-theme .outline{
margin-top: 12px;
margin-bottom: 45px;
font-weight: bolder;
padding: 1px 1px 1px 1px;
gap: 15px;
position: relative;
height: 30px;
width: 100%;
}
    
.dark-theme .outline h3{
margin-bottom: 5px;
}
    
.dark-theme .outline button{
width: 32%;
border-radius: 5px;
background-color: rgb(40, 40, 46);
border: 1px solid rgb(40, 40, 46); 
padding: 2px 5px 2px 0px;
margin-bottom: 10px;
color: white;
}
    
.dark-theme .outline button:hover{
background-color: rgb(6, 7, 7)
;
}

.dark-theme .input{
    color: white;
}
    
.dark-theme .line-spacing{
margin-top: 12px;
margin-bottom: 0;
font-weight: bolder;
}
    
.dark-theme .line-spacing select{
height: 30px;
width: 100%;
border-radius: 5px;
padding: 1px;
margin-bottom: 2px;
margin-top: 4px;
background-color: rgb(40, 40, 46);
border: 1px solid rgb(40, 40, 46);
color: white;
}

.dark-theme .padding-options{
color: white;
}
