/*Initial Mode*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  
    color: black;
    font-size: 15px;
 }


 h1{
    font-size: 40px;
    font-weight: 700;
    display: block;
    font-family: 'Poppins', sans-serif;
    color: black;
    margin-bottom: 20px;
 }

 h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: black;
 }

 h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: black;
    font-weight: bolder;
 }

 p{
    font-size: 20px;
    font-weight: 300;
    display: block;
    color: black;
    font-family: 'Poppins', sans-serif;
 }
 
.button{
    cursor: pointer; 
    color:black;
    border: none;
    border-radius: 10px;
    padding: 0px 10px;
    background-color: rgb(170, 170, 170);
    font-weight: 400;
    height: 36px;
}

.fa-solid {
    color: black;
}

.fa-regular {
    color: black;
}

.button:hover{
    background-color:grey;
 }

header{
    background-color: rgb(189, 186, 186);
    min-height: 10vh;
    min-width: 100%;
    position: fixed; 
    text-align: center;
    padding: 15px;
}

body{
    background-color: rgb(218, 216, 216);
    max-width: 500vh;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: black;
}

.canvas{
    background-color: white;
    min-height: 650px;
    margin-top: 900px;		
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin: auto;
	max-width: 500px;
    justify-content: center;	      
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bolder;
}

#image-meme{
    margin-top: 100px;
    width: 100%;
    flex-grow: 1;
    background-size: cover;
    display: block;
    background-color: black;
}

main button{
    cursor: pointer; 
    color:white;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    background-color:blue;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

main button:hover{
    background-color:rgb(3, 3, 181);
}

.panel{
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    float: right;
    width: 260px;
    height: 100%;
    background-color: rgb(230, 230, 230);
    overflow: auto;
    position: fixed;
    z-index: 10;
    padding: 30px 15px;
    top: 0;
    right: 0;   
}
.image-settings h3{
    padding: 10px, 10px;
    
}
.text-url{
    height: 30px;
    width: 90%;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 5px;
    background-color: rgb(202, 200, 200);
    border-color: rgb(202, 200, 200);
}
.background-container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.background-inputs{
    display: flex;
    padding: 5px;
    gap: 15px;
    position: relative;
    height: 35px;
    width: 100%;
    margin-left: 0px;
    
}
.color-input{
    height: 30px;
    width: 50%;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 5px;
    background-color: rgb(202, 200, 200);
    border-color: rgb(202, 200, 200);

}
.blend-input{
    height: 30px;
    width: 100%;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 5px;
    background-color: rgb(202, 200, 200);
    border-color: rgb(202, 200, 200);

}
